@use "../main.scss" as *;

.lists-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
  gap: 1rem;
  position: relative;
  @media screen and (max-width: 575px) {
    gap: get-vw(16px, 575px);
  }
  .winning-line {
    // display: none;

    height: 25px;
    background-color: $text;
    position: absolute;

    border-radius: 45px;
    z-index: 9999;

    @media screen and (max-width: 575px) {
      border-radius: get-vw(45px, 575px);
      height: get-vw(25px, 575px);
    }
  }
  .list {
    width: 135px;
    height: 135px;
    border: 2px solid $accent;
    border-radius: 20px;
    background: $secondary-background;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
    }
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 575px) {
      width: get-vw(135px, 575px);
      height: get-vw(135px, 575px);
      border-radius: get-vw(20px, 575px);
      img {
        width: get-vw(80px, 575px);
        height: get-vw(80px, 575px);
      }
    }
  }
}

.locked {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
