@use "../main.scss" as *;
.not-found-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: get-vw(40px, 575px);
  @media screen and (min-width: 575px) {
    gap: 40px;
  }

  h1 {
    color: $text;
    text-decoration: none;
    text-align: center;
    @include get-fs-lh(50px, 50px, 575px);
    @media screen and (min-width: 575px) {
      font-size: 50px;
      line-height: 50px;
    }
    &:hover {
      cursor: default;
    }
  }
  button {
    background-color: $secondary-background;
    border-radius: 10px;
    border: none;
    padding: get-vw(15px, 575px);
    @media screen and (min-width: 575px) {
      padding: 15px;
    }

    &:hover {
      @include hover-animation;
    }
  }
  .return {
    color: $text;
    text-decoration: none;
    font-weight: 600;
    @include get-fs-lh(24px, 30px, 575px);
    @media screen and (min-width: 576px) {
      font-size: 24px;
      line-height: 30px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
