@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@function get-vw($px-vw, $base-vw: 1292px) {
  @return math.div($px-vw * 100vw, $base-vw);
}

@mixin get-fs-lh($font-size-in-px, $line-height-in-px, $base) {
  font-size: get-vw($font-size-in-px, $base);
  line-height: get-vw($line-height-in-px, $base);
}

@mixin hover-animation() {
  cursor: pointer;
  transform: translateY(-3px);
}

$background: #0e0e0f;
$secondary-background: #1a1b1f;
$text: #f5f5f5;
$secondary-text: #9c9c9c;
$accent: #ffffff;
$hover: #212226;
$border: #2a2b31;
$accent-soft: #c8d6ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: $background;
  color: $text;
}

section {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 575px) {
    gap: get-vw(32px, 575px);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

h1 {
  @include get-fs-lh(32px, 42px, 575px);
  @media screen and (min-width: 576px) {
    font-size: 32px;
    line-height: 42px;
  }
  &:hover {
    cursor: default !important;
  }
}

h2 {
  @include get-fs-lh(24px, 30px, 575px);
  @media screen and (min-width: 576px) {
    font-size: 24px;
    line-height: 30px;
  }
  &:hover {
    cursor: default !important;
  }
}

button {
  @include get-fs-lh(18px, 32px, 575px);
  font-weight: 400;
  @media screen and (min-width: 576px) {
    font-size: 20px;
    line-height: 32px;
  }
}

h3 {
  @include get-fs-lh(18px, 32px, 575px);
  font-weight: 400;
  @media screen and (min-width: 576px) {
    font-size: 20px;
    line-height: 32px;
    max-width: 800px;
  }
  &:hover {
    cursor: default !important;
  }
}
p:hover {
  cursor: default !important;
}
p,
a {
  @include get-fs-lh(16px, 28px, 575px);
  @media screen and (min-width: 576px) {
    font-size: 16px;
    line-height: 28px;
  }
}
